body {
    background-image: url(../img/fondo3.jpg);
    background-size: cover;
    background-color: aliceblue;
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    padding: 25px;
    border: 1px solid black;
    background-color: lightpink;
    border-radius: 7px;
    box-shadow: 2px 2px 2px blueviolet;
}

h2 {
    text-align: center;
    color: white;
    font-size: 2.5em;
}
a {
    text-decoration: none;
    color: black;
}
div {
    margin: 200px auto;
    width: 1200px;
}