li {
    list-style: none;
}

.item {
    font-size: 2em;
    background-color: azure;
    width: 250px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background-color: lightgoldenrodyellow;
}